@font-face {
  font-family: 'GelatoLuxe';
  src: url('GelatoLuxe.eot?#iefix') format('embedded-opentype'),  url('GelatoLuxe.otf')  format('opentype'),
	     url('GelatoLuxe.woff') format('woff'), url('GelatoLuxe.ttf')  format('truetype'), url('GelatoLuxe.svg#GelatoLuxe') format('svg');
  font-weight: normal;
  font-style: normal;
}


* {
    outline: none;
}

body{
    padding:0;
    margin:0;
    background:#FFF;
    font-family: 'Nunito', sans-serif;
    color:#2a2440;
    position: relative;
}

.ui-widget-overlay.custom-overlay {
    background: #111111;
    opacity: 0.9;
    z-index: 1040;
}

.ui-dialog .ui-dialog-titlebar {
    background: transparent;
    border-radius: 0;
    top: -50px;
    border: none;
    position: absolute!important;
    left: 0;
    width: 100%;
    padding:0!important;
}
.ui-widget.ui-widget-content{
    font-family: 'Nunito', sans-serif;
    border:none!important;
    top:100px!important;
    border-radius:10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .15);
    width: 800px!important;
    left: 50%!important;
    margin-left: -430px;
    background:rgba(255,255,255,0.95);
}
.ui-widget-content{
    color:#2A2F45!important;
}
.ui-widget {
    font-family: 'Nunito', sans-serif;
    font-size: 16px!important;
}
.ui-dialog {
    padding:30px!important;
}
.ui-dialog .ui-dialog-content{
    padding:0!important;
    overflow:inherit!important;
}
.ui-dialog .ui-dialog-titlebar-close {
    right: 0!important;
    top: 0!important;
    width: 0!important;
    margin: 0!important;
    padding: 0!important;
    height: 0!important;
}
.ui-dialog .ui-dialog-title{
    margin:0!important;
    font-size: 32px!important;
}
.ui-widget-header{
    color:#FFF!important;
}
.ui-widget-overlay.custom-overlay{
    background:linear-gradient(40deg,#00759e 0%,#23d3b7 100%);
}
.ui-icon-closethick {
    background-image: url(../img/close.png)!important;
    position: absolute!important;
    background-size: 100%!important;
    right: 0!important;
    top: 13px!important;
    width: 20px!important;
    height: 20px!important;
    left: -25px!important;
    margin: 0!important;
    background-position: 0!important;
    border:none!important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    border:none!important;
}

a {
    text-decoration:none;
    color:#2A2F45;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
}
a:hover {
    text-decoration:none;
    color:#d83a4e;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
}

.center-spliiiter{
    margin:0 auto;
    display:flex;
}

nav{
    position:fixed;
    width:100%;
    background:#FFF;
    height:90px;
    line-height:90px;
    top:-90px;
    margin-top:-180px;
    left:0;
    padding-top:180px;
    opacity:0;
    z-index:9999;
        -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
        -webkit-box-shadow: 0 4px 15px rgba(43, 59, 93, .10);
    box-shadow: 0 4px 15px rgba(43, 59, 93, .10);
    -webkit-transition-timing-function: ease-out;
}

nav ul{
    display:flex;
    margin-left:90px;
}
nav ul li{
    padding-right: 30px;
    font-weight: 700;
}

.logo-nav{
    position:absolute;
    margin:10px;
}
.btn-nav{
    position:absolute;
    right:20px;
    top:180px;
    display:flex;
}

.btn-nav .btn-orange{
    font-size:16px;
    line-height:46px;
    height:50px;
    margin-top:20px;
    padding:0 30px;
}

.btn-blue{
    border-color:#2a2440!important;
    color:#2a2440!important;
    margin-right:10px;
    position:relative!important;
    padding:0 30px!important;
    top:0!important;
    line-height:42px!important;
    height:46px!important;
    margin-top:20px!important;
}

.logo-nav img{
    width:50px;
    margin:10px;
}

.fixed-header, .header-page {
  opacity:1;
    top:0;
        -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
}
.anchor{
    position:absolute;
    margin-top:-120px;
}

.bg-rotate{
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-transform: skewY(-4deg);
    transform: skewY(-4deg);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    position:absolute;
}
.header-theme{
    z-index:1;
    height:800px!important;
}
.public h1{
    color:#FFF;
    margin:10px 0 0;
}
.public h2{
    color:#FFF;
    margin:0;
}
.green-background{
    background: linear-gradient(40deg,#00759e 0%,#23d3b7 100%);
}
.height-header{
    height:800px!important;
    top:-1px;
}

.theme-img{
    background-size:cover;
    background-position:center;
    top:-1px;
    height:800px!important;
    overflow: hidden;
    animation: kenburns 15s ease alternate forwards;
    
}

@keyframes kenburns {
    0% {
    }
    100% {
        transform: scale3d(1.1, 1.1, 1.1);
        animation-timing-function: ease-in;
    }
}

.cinema{
    background-image: url(../img/cinema.jpg)!important;
}
.musique{
    background-image: url(../img/musique.jpg)!important;
}
strong{
    font-weight:700;
}

.accroche img{
    width:100%;
    margin-left:-40px;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari et Chrome */
    -o-animation: fadein 1s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
        transform:translate(-50px,-30px);
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
        transform:translate(-50px,-30px);
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
        transform:translate(-50px,-30px);
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
        transform:translate(-50px,-30px);
    }
    to {
        opacity: 1;
    }
}


.width40{
    width:40%;
}
.width50{
    width:50%;
}
.width60{
    width:60%;
}

header{
    width:100%;
    position:relative;
}

.logo{
    text-align:center;
}

.logo img{
    width:180px;
    margin:30px 0 0;
}

.accroche{
    padding-right:50px;
}

.accroche h2{
    color:#FFF;
    text-align:left;
    font-weight:300;
    font-size:18px;
    margin: 40px 0 50px;
    line-height:30px;
}
.big-profil{
    height:200px!important;
    width:200px!important;
}
.public h2{
    margin: 10px 0 0!important;
    line-height:24px!important;
}

.rotate-explain{
    transform: skewY(8deg)!important;
    margin-top: -50px;
}

.suscribe-right{
}

.suscribe-title{
    font-family: 'GelatoLuxe';
    text-align: left;
    position:relative;
}
.font-spliiit{
    font-family: 'GelatoLuxe';
    font-size:40px;
}
.suscribe-title h3{
    margin: 0 0 10px;
    font-size: 42px;
    text-align: center;
}

.suscribe-title img{
    height: 50px;
    position: absolute;
    right: 0;
    top: 25px;
}

.cagnotte-title{
    font-family: 'GelatoLuxe';
    color: #2A2F45;
    text-align: left;
    position:relative;
}
.cagnotte{
    margin-top:30px;
}
.color-white{
    color:#FFF;
}
.cagnotte-title h3{
    margin: 0 0 40px;
    font-size: 42px;
    text-align: center;  
}

.cagnotte-title img{
    height: 50px;
    position: absolute;
    right: 50px;
    top: 25px;
}
.accroche h1{
    text-align: left;
    font-weight: 700;
    font-size: 72px;
    margin: 10px 0 0;
    line-height: 65px;
}
.public h1{
    font-size: 52px!important;
    line-height: 48px!important;
    margin-top:15px!important;
}
.container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    max-width: 1000px;
    z-index:10;
}

.bloc-home{
    display:flex;
    margin-top:40px;
}

.bloc-suscribe{
    text-align:center;
    -webkit-box-shadow: 0 4px 15px rgba(43, 59, 93, .10);
    box-shadow: 0 4px 15px rgba(43, 59, 93, .10);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    background:#FFF;
    border-radius:10px;
    padding:40px 50px;
}
.bloc-suscribe:hover{
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-box-shadow: 0px 14px 32px 0px rgba(43, 59, 93, 0.20);
    box-shadow: 0px 14px 32px 0px rgba(43, 59, 93, 0.20);
}

.back-degrade{
    background-image: linear-gradient(40deg,#00759e 0%,#23d3b7 100%);
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: -1px;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(40deg,#00759e 0%,#23d3b7 100%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 6s;
   -webkit-animation: move-wave 6s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 15s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 20s linear infinite;
}

.background-white{
    background:#FFF;
}

#scroll{
    position:absolute;
    bottom:10px;
    width:100%;
}
    
#scroll a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2px solid #23d3b7;
  border-bottom: 2px solid #23d3b7;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

.bloc-cagnotte{
    text-align:center;
    padding:50px;
}
.cagnotte-total{
    margin-bottom:0!important;
}
.bloc-white{
    text-align:center;
    -webkit-box-shadow: 0 4px 15px rgba(43, 59, 93, .10);
    box-shadow: 0 4px 15px rgba(43, 59, 93, .10);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    background:#FFF;
    border-radius:10px;
}
.bloc-white p{
}
.bloc-white:hover{
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-box-shadow: 0px 14px 32px 0px rgba(43, 59, 93, 0.20);
    box-shadow: 0px 14px 32px 0px rgba(43, 59, 93, 0.20);
}

h2{

}
ul{
    padding:0;
    margin:0;
}
li{
    list-style: none;
}
.bloc-suscribe p{
    color:#2A2F45;
    margin:0;
    font-weight:700;
}

.container-btn-social{
    display:flex;
    margin-top:20px;
}

.facebook-btn {
    border-radius: 50px!important;
    height: 50px;
    background: #3b5998;
    text-align: center;
    color: #FFF;
    line-height: 46px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}
.facebook-btn path, .facebook-btn svg {
    fill: #FFF;
    height: 32px;
    vertical-align: middle;
    margin-top: -5px;
    margin-left: -5px;
}
.btn-social{
    border-radius: 50%!important;
    height: 60px;
    width:60px;
    background: #fff;
    text-align:center;
}
.btn-pagefacebook path, .btn-pagefacebook svg{
    fill: #2a2440;
    height: 54px;
    margin-top: 2px;
}
.btn-social:hover{
    opacity:0.85;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    color:#FFF;
}
.twitter-btn {
    border-radius: 50px!important;
    height: 50px;
    background: #1da1f2;
    text-align: center;
    color: #FFF;
    line-height: 46px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}
.twitter-btn path, .twitter-btn svg {
    fill: #FFF!important;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-top: -2px;
    margin-left: -5px;
    margin-right: 5px;
}
.twitter-btn:hover {
    opacity:0.9;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.facebook-btn:hover {
    opacity:0.9;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.google-btn {
    border-radius: 50px!important;
    height: 50px;
    background: #F2F2F2;
    text-align: center;
    color: #555;
    line-height: 46px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}
.google-btn:hover {
    opacity:0.8;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.google-btn svg {
    height: 20px;
    vertical-align: middle;
    margin-right: 8px;
    margin-top: -2px;
    margin-left: -5px;
}
.line-range{
    margin:95px 0 20px;
    position:relative;
}

.valeur-range{
    font-weight: 700;
    position: absolute;
    margin-top: -70px;
    font-size: 20px;
    text-align: center;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.12);
}
.valeur-range img{
    height:14px;
    margin-left:1px;
}
.bec-range {
    background: #FFF;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left:-5px;
}
.echelle-range{
    width:100%;
    height:8px;
    background:#edf1f4;
    border-radius:50px;
}
.select-range{
    position:absolute;
    top:0;
    background:#23d3b7;
}
.btn-login{
    position:absolute;
    right:0;
    top:45px;
    color:#FFF;
    border:2px solid #FFF;
    border-radius:100px;
    padding:10px 30px 14px;
    cursor:pointer;
}
.btn-login:hover{
    background:#FFF;
    color:#23d3b7;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.btn-profil{
    position:absolute;
    right:0;
    top:45px;
    color:#23d3b7;
    border-radius:100px;
    padding:10px 30px 14px;
    cursor:pointer;
    -webkit-box-shadow: 0 4px 15px rgba(43, 59, 93, .10);
    box-shadow: 0 4px 15px rgba(43, 59, 93, .10);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    background:#FFF;
}
.btn-profil:hover{
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-box-shadow: 0px 14px 32px 0px rgba(43, 59, 93, 0.20);
    box-shadow: 0px 14px 32px 0px rgba(43, 59, 93, 0.20);
}
.round-range{
    width:28px;
    height:28px;
    border-radius:50%;
    background: #FFF;
    position:absolute;
    top:-15px;
    border:4px solid #d83a4e;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    z-index:1;
}
.round-range:hover{
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
}
#facebook-btn{
    width:49%;
    margin-right:1%;
}
#google-btn{
    width:49%;
    margin-left:1%;
}
.fonctionnement{
    margin-top:50px;
    text-align:center;
    position:relative;
    margin-bottom:50px;
}
.fonctionnement-autopromo{
    margin-top:150px;
    padding-bottom:150px;
    text-align:center;
    position:relative;
}
.pour-qui{
    padding:0;
    text-align:center;
    margin-bottom:100px;
    position:relative;
    margin-top:100px;
}
.fonctionnement h1, .fonctionnement-autopromo h1{
    font-size: 42px;
    margin: 60px 0 30px;
}
.pour-qui h1, .tarifs h1, .avantages h1{
    font-size: 42px;
    margin: 0 0 10px;
    line-height: 42px;
}
.header-cagnotte{
}
.header-suscribe{
    background-image:url(../img/background-home.png);
    width:100%;
    height:700px;
    position:absolute;
    background-position: center 0;
    background-repeat: no-repeat;
}
.theme-rose{
    background-color:#de2c84!important;
}
.btn-theme-rose:hover{
    color:#de2c84!important;
}
.theme-rose-txt{
    color:#de2c84;
}
.profil-img{
    width:150px;
    height:150px;
    border-radius:50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    border: 5px solid #FFF;
    background-size:cover;
    background-position: center;
}
.cagnotte h1{
    font-size:56px;
    line-height:54px;
}
.cagnotte h2{
    color:#2A2F45!important;
    margin:0;
}
.tarif-final{
    font-size:72px;
    margin:0px;
    font-weight:700;
    text-align:center;
}
.bloc-spliiit{
    padding:50px;
}
.bloc-spliiit:hover{
    transform:none;
}

.text-orange p{
    color:#d83a4e;
}
.text-orange{
    color:#d83a4e;
}
.left-explain{
    text-align:left;
}
.right-explain{
    text-align:left;
}
.bloc-suscribe .btn-orange{
    width: 50%;
}
.bloc-cagnotte .btn-orange{
}
.btn-orange{
    background:#d83a4e;
    color:#FFF;
    border-radius:100px;
    padding:15px 30px 18px;
    cursor:pointer;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    font-size:22px;
    font-weight:700;
    margin: 40px auto 0;
}
.btn-orange:hover{
    background:#d8454e;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    color:#FFF!important;
}
.btn-green{
    background:#d83a4e;
    color:#FFF;
    border-radius:100px;
    cursor:pointer;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    font-size:18px;
    font-weight:700;
    height: 50px;
    line-height: 46px;
    text-align:center;
}
.btn-green:hover{
    background:#d8454e;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.btn-grey{
    background:#dde2e9;
    color:#FFF!important;
    border-radius:100px;
    cursor:pointer;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    font-size:18px;
    font-weight:700;
    height: 50px;
    line-height: 46px;
    text-align:center;
}
.btn-grey:hover{
    background:#A3ACB9;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.green{
    color:#d83a4e;
}
.profil-header{
}
.myspliiit{
    position:relative;
}
.myspliiit .bg-rotate{
    margin-top: 250px;
}
.create-myspliiit{
    position:relative;
    text-align: center;
    padding: 300px 0 100px;
    margin-top:-200px;
}
.title-spliiit{
    position:relative;
}
.title-spliiit input{
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:1px solid #e1e5ea;
    background:#FFF;
    padding:0 0 10px 0;
    font-size:48px;
    font-family: 'Nunito', sans-serif;
    font-weight:700;
    width:100%;
    color:#d83a4e;
}
.title-spliiit img{
    position:absolute;
    height:30px;
    right:0;
    top:20px;;
}
::placeholder{
    color:#d1d5db;
}

.list-spliiiter {
    display: flex;
    margin:10px auto 40px;
}
.list-spliiiter li{
    margin-left:30px;
    text-align:center;
}
.list-spliiiter p{
    margin:10px 0 0;
    font-weight:700;
}
.list-spliiiter li:first-child{
    margin-left:0;
}
.myspliiit .br-rotate{
    margin-top: 270px;
    height: 400px;
}
.spliiiter-img{
    width:100px;
    height:100px;
    border-radius:50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    border: 3px solid #FFF;
    background-size:cover;
    background-position: center;
    margin:auto;
    background-color: #d83a4e;
}
.add-spliiiter{
    background-image:url(../img/add.png);
    background-size:40px;
    background-repeat: no-repeat;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    cursor:pointer;
    border:3px solid #d83a4e;
}
.text-add{
    font-weight:700;
}
.add-spliiiter:hover{
    background-color:#d8454e;
    border-color:#d8454e;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-box-shadow: 0px 14px 32px 0px rgba(43, 59, 93, 0.20);
    box-shadow: 0px 14px 32px 0px rgba(43, 59, 93, 0.20);
}
.title-spliiiter{
    text-align: center;
    font-size: 18px;
    margin: 30px 0 15px;
    font-weight: 700;
}
.title-spliiiter img{
    height:40px;
    margin-right:10px;
    vertical-align: middle;
}
.line-options{
    display:flex;
    padding-top:30px;
    border-top:1px solid #e1e5ea;
}
.btn-option{
    cursor: pointer;
    padding: 30px 0;
    font-weight: 700;
    width: 20%;
    box-shadow:none;
}
.btn-option:hover{
    z-index:1;
}
.btn-option p{
    text-align:center;
    font-size: 18px;
    margin:5px 0 0;
}
.btn-option img{
    height:60px;
    margin-bottom:5px;
}
footer{
    width: 100%;
    background-color:#1e1b28;
    position:absolute;
    z-index:1;
}
.color-footer{
    background-color:#0e98a0;
}
footer ul{
    width:50%;
}
.social-logo{
    text-align: center;
    position: absolute;
    width: 100%;
    top: -75px;
}
.social-logo img{
    width:50px;
    margin:-0 10px;
}
.footer{
    bottom:-170px;
}
.social-footer{
    position:absolute;
    right:0;
}
.logo-footer{
}
.profil-header .bg-rotate{
    height:700px;
}
.infos-myspliiit h2{
    margin:100px 0 70px 0;
    text-align:center;
    font-weight:400;
    font-size:18px;
}
.footer-right img{
    width:60px;
    margin-left:-5px;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.margin0{
    margin:0;
}
.width18{
    width:18%;
}
.width40{
    width:40%;
}
.first-line-footer{
    padding:50px 0;
}
.second-line-footer{
    padding:50px 0;
    background:#2a2440;
    text-align:center
}
.second-line-footer img{
    height:100px;
    margin:0 5%;
}
.last-line-footer{
    text-align:center;
}
.last-line-footer img{
    width:30px;
    margin-top:-15px;
}
.last-line-footer p{
    font-size:11px;
    font-weight:300;
    color:#FFF;
    margin-bottom:20px;
}
footer h3{
    font-size:16px;
    text-transform:uppercase;
    color:#FFF;
}
footer a{
    color:#FFF;
    cursor:pointer;
}
.logo-footer p{
    margin:0;
}
.page404{
    padding-top:230px;
    margin-bottom:100px;
}
.page404 h1{
    margin-bottom:0;
}
.error404{
    text-align:center;
}
.error404 img{
    width:50%;
    margin-bottom:30px;
}
.error404 p{
    margin-top:50px;
    padding:15px 0;
}
footer p{
    color:#FFF;
    font-size:14px;
}
.footer-right img:hover{
    opacity:0.8;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.logo-footer img{
    width:180px;
    margin:10px 0 20px;
}
footer li{
    padding:0;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor:pointer;
    line-height:24px;
    font-weight:300;
    color:#FFF;
    font-size:14px;
}
footer li a{
    color:#FFF;
}
.title-client{
    color:#d83a4e;
    margin:0;
    text-transform: inherit;
}
.ulblog{
    width:24%;
}
footer li:hover{
    color:#2a2440;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.footer-right{
    font-weight: 700;
    display:flex;
    width:100%;
}
.menu-footer{
    line-height:100px;
}
.paiements{
    position:relative;
    text-align:center;
    margin-bottom:100px;
}
.mode-paiements{
    text-align:center;
    margin:0px 0 100px;
}
.mode-paiements img{
    width:150px;
    margin:0 5%;
}
.infos-spliiiter{
    margin-top:100px;
    text-align:center;
}
.infos-spliiiter h3{
    margin:0 0 20px;
    font-size:36px;
}
.quote p{
    margin:0;
}
.description-spliiit{
    color:#2A2F45!important;
    font-weight:300!important;
    line-height:24px;
    margin:0 0 20px;
}

.btn{
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.btn:hover{
    opacity:0.85;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.place-dispo{
    margin:5px 0 0!important;
}
.line-fonctionnement ul{
    display:flex;
    text-align:center;
    margin:30px 0;
}
.line-fonctionnement li{
    width:20%;
    padding:30px;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
.tarif-member .line-fonctionnement li{
    width:33%;
    padding:0 30px;
    line-height: 24px;
    font-size: 18px;
}
.tarif-member .line-fonctionnement{
    margin-bottom:120px;
}
.free-tarif{
    text-transform: uppercase;
    color:#d83a4e;
    line-height: 40px;
}
.line-fonctionnement li:hover{
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
.line-fonctionnement li img{
    width:100px;
}
.create-spliiit{
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    display: inline-block;
    font-weight: 700;
}
.autopromo ul{
    margin-bottom:0;
}
#dialog-cagnotte ul{
    display:flex;
    text-align:center;
}
#dialog-cagnotte li{
    padding:30px;
    margin-left:30px;
    width:218px;
    height:220px;
    position:relative;
}
#dialog-cagnotte li:first-child{
    margin-left:0;
}
#dialog-cagnotte span{
    font-size:14px;
}
#dialog-cagnotte img{
    width:100px;
}
#dialog-cagnotte p{
    margin:0 0 30px;
    text-align:center;
}
#dialog-cagnotte li p{
    margin:15px 0;
}
.gain-popup{
    padding:0!important;
}
.gain-popup p{
    margin:0!important;
}
#dialog-share ul{
    display:flex;
    text-align:center;
}
#dialog-share li{
    border-radius:5px;
    padding:30px;
    margin-left:30px;
    width:355px;
    height:220px;
    position:relative;
}
#dialog-share li:first-child{
    margin-left:0;
}
#dialog-share span{
    font-size:14px;
}
.link-share{
    padding:30px;
    margin-bottom:30px;
    text-align:left;
}
.link-share p{
    margin-bottom:20px;
    text-align:center;
}
.share-email .btn-green{
    width:325px;
    bottom: 30px;
    position: absolute;
}
#dialog-cagnotte .btn-green{
    width:187px;
    bottom: 30px;
    position: absolute;
}
.link-share .btn-green{
    width: 200px;
    right: 30px;
    position: absolute;
    bottom: 30px;
    text-align: center;
}
.link-share input{
    padding: 12px 0;
    color: #2A2F45;
    border-bottom: 1px solid #dde2e9;
    border-left:none;
    border-right:none;
    border-top:none;
    font-family: 'Nunito', sans-serif!important;
    font-size:18px!important;
    width:520px;
}
.share-social p, .share-email p{
    margin-bottom:20px;
    margin-top:0;
}
.share-social .facebook-btn, .share-social .google-btn{
    margin-bottom:15px;
}
.share-email input{
    margin-bottom: 15px;
    border: 1px solid #dde2e9;
    border-radius: 100px;
    text-align: center;
    font-family: 'Nunito', sans-serif!important;
    padding: 13px 0 16px;
    width: 100%;
    font-size: 16px!important;
}
#dialog-delete .center-action{
    display:flex;
    margin:30px auto 0;
    width:420px;
}
#dialog-delete .btn-green{
    width:200px;
}
#dialog-delete .btn-grey{
    width:200px;
    margin-right:20px;
}
#dialog-delete p{
    text-align:center;
    margin-top:0;
    line-height:24px;
}
#dialog-paiement .profil-paiement{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    border: 2px solid #FFF;
    background-size: cover;
    background-position: center;
    margin-left:20px;
}
#dialog-paiement li{
    display:flex;
    border-top:1px solid #dde2e9;
    padding:15px 0;
    line-height:40px;
}
#dialog-paiement li:first-child{
    border-top:none;
}

#dialog-paiement h2{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
}
#dialog-paiement .name-paiement{
    width: 300px;
    padding: 0 15px;
    font-weight: 700;
    font-size: 18px;
    text-align:left;
}
#dialog-paiement .montant-paiement{
    width: 200px;
    font-size: 18px;
    text-align:center;
}
#dialog-paiement .date-paiement{
    position: absolute;
    right: 20px;
    color: #666;
}
#dialog-paiement .btn-green{
    width:200px;
    margin:30px auto 0;
}
#dialog-paiement p{
    margin-top:0;
}
#dialog-paiement .montant-total{
   position:absolute;
   right:0;
   top:0;
}
.montant-paiement span{
    font-size:14px;
    vertical-align: bottom;
}
.grey{
    color:#A3ACB9;
}
#dialog-infos p{
    margin:0 0 20px;
}
.actions-infos{
    padding:30px;
    display:flex;
}
.actions-infos .btn-green, .actions-infos .btn-grey{
    width:50%;
}
.btn-right{
    margin-left:15px;
}
.input-infos input {
    padding: 12px 0;
    color: #d83a4e;
    border-bottom: 1px solid #dde2e9;
    border-left: none;
    border-right: none;
    border-top: none;
    font-family: 'Nunito', sans-serif!important;
    font-size: 18px!important;
    width: 100%;
}
.input-infos p {
    text-align:left;
    margin:0!important;
}
.input-infos {
    padding:30px;
}
#dialog-infos .btn-green {
    width:200px;
    margin:30px auto 0;
}
.margin-top30{
    margin-top:30px!important;
}
.input-infos span{
    font-size:14px;
    vertical-align: bottom;
}
#dialog-infos h2{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
}
#dialog-infos h2 img{
    width: 25px;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -6px;
}
.height-page{
    height: 420px;
    margin-top: 0px;
}
.title-other-page{
    text-align: center;
    position: absolute;
    width: 100%;
    z-index:1;
    top:120px;
}
.title-other-page h1{
    color:#FFF;
    font-size:42px;
}
.padding3050{
    padding:30px 50px;
}
.margin50{
    margin:50px 0 0;
}

.cgu ul{
    padding-left:30px;
    text-align:left;
    margin-top: -20px;
    margin-bottom: 20px;
}
.cgu li{
    list-style: disc;
}

.mentions, .whoare, .cgu{
    text-align:center;
    line-height:30px;
    padding-top:400px;
    margin-bottom:100px;
}
.mentions h1, .whoare h1, .page404 h1, .cgu h1{
    font-size:42px;
    line-height:44px;
}
.mentions h2, .whoare h2, .page404 h2, .cgu h2{
    color:#d83a4e;
}
.tarif-partner h3, .tarif-dons h3, .tarif-virement h3{
    text-transform: uppercase;
    color: #d83a4e;
    font-size:32px;
    margin: 0;
}
.line-tarif{
    display: flex;
}
.left-line-tarif{
    margin-right:30px;
}
.right-line-tarif{
    margin-left:30px;
}
.tarif-dons{
    padding:50px 0 100px;
}
.cgu .bloc-white p{
    text-align:left;
    margin-bottom:30px;
}
.cgu h2{
    text-align:left;
    margin-bottom:0;
    text-transform:uppercase;
}
.tarif-partner, .tarif-dons, .tarif-virement{
    position:relative;
    text-align: left;
}
.tarif-partner img, .tarif-dons img, .tarif-virement img{
    width:500px;
}
.tarif-partner h2, .tarif-dons h2, .tarif-virement h2{
    font-size: 28px;
    line-height: 32px;
    color:#2a2440;
    padding-top: 70px;
    margin-bottom: 10px;
}
.whoare img{
    width:50%;
}

.color-perso ul{
    display:flex;
    margin:20px 0;
}
.color-perso{
    margin-bottom:10px;
}
.color-perso li {
    width: 77px;
    height: 77px;
    border-radius: 50%;
    margin-left: 20px;
    border: 3px solid transparent;
    opacity:0.5;
    cursor:pointer;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
}
.color-perso li:hover{
    box-shadow:0 2px 5px 0 rgba(0, 0, 0, .26);
    opacity:1!important;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
}
.color-perso .select{
    box-shadow:0 2px 5px 0 rgba(0, 0, 0, .26);
    opacity:1!important;
}
.color-perso li:first-child{
    margin-left:0;
}
.color-green{
    background:#4bb176;
}
.color-turquoise{
    background:#23F0C7;
}
.color-blue{
    background:#274690;
}
.color-violet{
    background:#6457A6;
}
.color-rose{
    background:#de2c84;
}
.bg-rose{
    background: rgb(222, 44, 132, 0.45);
}
.color-rouge{
    background:#EF767A;
}
.color-orange{
    background:#FF6700;
}
.color-jaune{
    background:#FFE347;
}
#dialog-perso h2{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
}
#dialog-perso p{
    margin:0 0 20px;
}
.theme-perso ul{
    display:flex;
    margin:20px 0 50px;
}
.theme-perso li svg{
    height:50px;
}
.theme-perso li path{
    fill:#d83a4e;
}
.theme-perso .select path{
    fill:#FFF!important;
}
.theme-perso .select{
    background:#d83a4e!important;
}
.theme-perso .select p{
    color:#FFF!important;
}
.theme-perso li p{
    margin:10px 0 0!important;
    font-weight:700;
}
.theme-perso li{
    width:20%;
    margin-left:20px;
    padding:20px 0;
    cursor:pointer;
}
.theme-perso li:first-child{
    margin-left:0;
}
.reduction{
    width: 300px;
    height: 300px;
    position: absolute;
    left: -150px;
    top: -190px;
    background: #FFF;
    z-index: 10;
    transform: rotate(-35deg);
    text-align: center;
    box-shadow:0 4px 15px rgba(43, 59, 93, .30);
}
.reduction p{
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    position: absolute;
    top: 235px;
    margin: 0;
    left: 90px;
}
.tarif-reel sup{
    vertical-align: text-top;
    font-size: 10px;
}
.tarif-reel{
    margin: -10px 0 20px!important;
    font-size: 14px;
}
.tarif-final sup {
    font-size: 40px;
    color: #2A2F45;
    margin-left: 5px;
}
.commission{
    margin-bottom:50px!important;
}
.width50{
    width:50%;
}
#dialog-compte h2{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top:0;
}
.flex{
    display:flex;
}
.personna img{
    width:100%;
    margin:30px 0;
}
.personna{
}
.personna p{
    line-height: 22px;
    font-weight: 300;
    margin:0 40px;
}
.input-right{
    margin-left:15px;
}
.input-left{
    margin-right:15px;
}
.personna h2{
    text-align:left;
    font-weight:700;
    font-size:32px;
    margin:110px 40px 30px;
}
.zone-dons{
    height:320px;
}
.content-dons{
    position:relative;
}
.content-dons img{
   width:100%;
    margin-left:40px;
    margin-top:-65px;
}
#dialog-compte .btn-green {
    width:200px;
    position:absolute;
    right:0;
}
#dialog-compte .btn-grey {
    width:200px;
    position:absolute;
    left:0;
}
.line-block{
    position:relative;
    height:50px;
    margin-top:30px;
}
.pour-qui p, .tarifs p, .avantages p{
    font-weight: 300;
    line-height: 22px;
}
.explain-cb{
    text-align:center;
    margin:0 0 30px!important;
}
.explain-title{
    margin-bottom:0;
}
.margin-bottom15{
    margin-bottom:15px;
}
#dialog-paiementcb .btn{
    width:200px;
    margin:30px auto 0;
    text-align:center;
}
.btn-login-mobil{
    display:none;
}
.grey-background{
    background-color:#f6f9fc;
}
.line-dons img{
    margin:40px;
    width:350px;
}
.line-dons p{
    margin:0;
    line-height:26px;
}
.line-dons h2{
    font-size:42px;
    font-weight:700;
    margin:30px 0 0;
    color:#2a2440;
}
.line-dons h3{
    color:#FFF;
    font-size: 20px;
}
.zone-personna{
}
.zone-personna2{
}
.left-tarif{
    margin-right:30px;
}
.right-tarif{
    margin-left:30px;
}
.bloc-tarif{
    margin-top:40px;
}
.bloc-tarif p{
    margin:0 40px 40px;
}
.bloc-tarif h2{
    font-size: 42px;
    margin: 40px 0 20px;
    text-align: center;
    font-weight: 700;
}
.zone-avantages{
    position:relative;
}
.zone-avantages .bg-rotate{
    z-index:1;
}
.tarifs{
    text-align:center;
    margin-top:40px;
}
.avantages{
    text-align:center;
    padding-top:60px;
    padding-bottom:70px;
}
.avantages .btn-orange{
    width:30%;
}
.col-bank ul{
    padding-bottom:10px;
}
.col-bank li{
    border-top:1px solid #edf1f4;
    display: flex;
    height: 150px;
    padding: 0 30px;
}
.col-bank li p{
    margin:auto;
}
.col-bank li img{
    width:50px;
    margin-bottom:10px;
}
.col-bank{
    width:100%;
}
.col-bank li:first-child{
    border-top:none;
}
.center-bank{
    margin:0 30px;
}
.title-avantages{
    height:90px!important;
}
.col-bank h3{
    margin:auto;
}
.table-avantages{
    margin:60px 0;
}
.from-right,
.from-left {
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.2s ease-in-out;
}
.from-right {
    transform: translate(50px,-30px);
}
.from-left {
    transform: translate(-50px,-30px);
}
.bloc-tarif h3{
    margin:0 20px 20px;
}
.tarif-member .line-fonctionnement li span{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 2px solid #23d3b7;
    border-bottom: 2px solid #23d3b7;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
@media only screen and (max-width:1000px) {
    .suscribe-title h3{
        font-size:32px;
        margin-top:10px;
        display:none;
    }
    .bg-rotate{
    -webkit-transform: skewY(0deg);
    transform: skewY(0deg);
}
    nav {
    height:70px;
    line-height:70px;
    }
    .logo-nav img {
    width: 40px;
    margin: 5px;
}
    .btn-nav{
        display:none;
    }
    .bloc-tarif{
        padding:25px 0;
    }
    .bloc-tarif p{
        margin:0 30px 0;
    }
    .bloc-tarif h2{
        margin:0;
    }
    .tarifs{
        margin-bottom:40px;
        margin-top:0;
    }
    .bloc-suscribe .btn-orange {
    width: 90%;
    padding: 15px 0 18px;
}
    .width60{
        width:100%;
    }
    .bloc-home {
        display: inherit;
        text-align:center;
        margin:auto;
    }
    #home .container{
        margin:auto;
    }
    .btn-login{
        display:none;
    }
    .accroche h1{
    text-align:center;
    font-size: 54px;
    line-height: 50px;
    margin-bottom: 20px;
    }
    .accroche h2{
        text-align:center;
        margin:0 0 50px;
    }
    .accroche h2 strong{
        display:none;
    }
    .accroche img{
        display:none;
    }
    .bank-avantage{
        display:none;
    }
    .wave{
        display:none;
    }
    .logo img {
        display:none;
    }
    #home{
        height:100%;
        display:flex;
    }
    .fc-widget-normal{
        display:none;
    }
    #scroll{
        bottom:60px;
    }
    .btn-convaincu{
        margin:50px 0;
    }
    footer{
        text-align:center;
    }
    .fonctionnement h1{
        line-height:42px;
        margin:30px 0 15px
    }
    .pour-qui, .content-dons, .paiements{
        display:none;
    }
    .trustpilot-img, .paypal-img{
        display:none;
    }

    .line-fonctionnement ul{
        display:inherit;
    }
    .accroche{
        padding-right:0;
        padding-top:0;
    }
    .width40{
        width:100%;
    }
    .container{
        width:90%;
    }
    .fonctionnement{
        margin:30px auto;
    }
    .second-line-footer {
    padding: 30px 0 40px;
    }
    .content-dons img{
        margin-left:0;
    }
    .personna h2{
        margin: 30px 0;
        text-align: center;
    }
    .pour-qui h1, .tarifs h1, .avantages h1{
        padding-top:10px;
    }
    .pour-qui p, .tarifs p, .avantages p{
        line-height:30px;
    }
    .pour-qui p strong{
        display:none;
    }
    .avantages .btn-orange{
        width:100%;
    }
    .avantages{
        padding:30px 0;
    }
    .table-avantages{
        margin:30px 0;
    }
    .center-bank{
        margin:0;
    }
    .right-tarif{
        margin:0;
    }
    .line-fonctionnement li {
    width: 100%;
    padding: 0 0 30px;
    }
    .line-fonctionnement li p{
    padding:0 50px;
    }
    .bloc-suscribe{
            padding: 0;
    background: transparent;
    box-shadow: none;
    }
    .container-btn-social{
        display:inherit;
    }
    .bloc-suscribe ul{
        display:none;
    }
    .google-btn{
        margin-top:10px;
    }
    footer ul{
        display:none;
    }
    .profil-img{
        margin:0 auto;
    }
    .reduction p{
        font-size:32px;
    }
    .reduction {
    width: 225px;
    height: 280px;
    left: -150px;
    top: -190px;
    }
    .quote p:before{
        display:none;
    }
    .quote p:after{
        display:none;
    }
    .infos-spliiiter{
        margin-top:30px;
    }
    .infos-spliiiter h3{
        margin-bottom:10px;
    }
    .description-spliiit{
        font-size:16px!important;
        line-height: 24px;
    }
    .quote p {
        line-height: 30px;
    }
    .ui-widget.ui-widget-content{
        width: 90%!important;
        left: 50%!important;
        margin-left: -45%;
        padding: 30px 0!important;
        top:70px!important;
    }
    .ui-dialog .ui-dialog-title {
    margin: 9px 0!important;
    font-size: 20px!important;
    }
    .explain-cb {
    text-align: center;
    margin: 0 20px 20px!important;
    line-height: 24px;
    }
    .input-infos {
    padding: 20px;
    }
    .bloc-white{
    }
    .flex{
        display:inherit;
        margin-bottom:0;
    }
    .width50{
        width:100%;
        margin-bottom:15px;
    }
    .input-left{
        margin-right:0;
    }
    .input-right{
        margin-left:0;
    }
    .input-infos input{
        border-radius:0;
    }
    .btn-profil{
        display:none;
    }
    .cagnotte h1{
        color:#FFF!important;
    }
    h2 .green{
        color:#FFF;
    }
    .cagnotte-title img{
        display:none;
    }
    .cagnotte-title{
        display:none;
    }
    .title-spliiit input{
        font-size:26px;
        border-radius:0;
    }
    .title-spliiit img {
    height: 20px;
    top: 10px;
    }
    .list-spliiiter{
        display:inline;
        margin-bottom:20px;
    }
    .list-spliiiter li{
        margin-bottom:30px;
        margin-left:0;
    }
    .spliiiter-img {
    width: 150px;
    height: 150px;
    }
    .cagnotte h2 {
        color:#FFF!important;
        margin-top:15px;
    }
    .list-spliiiter p {
    font-size: 20px;
    }
    .line-options{
        display:inline;
        margin-left:0;
    }
    .btn-option {
    width: 100%;
    padding: 30px 0;
    display: block;
    margin-bottom: 20px;
    border-radius: 5px!important;
    margin-left:0;
    }
    .btn-option p{
        font-size:20px;
    }
    #dialog-cagnotte p{
        margin:0 20px 30px;
    }
    #dialog-cagnotte ul{
        display:inherit;
    }
    #dialog-cagnotte li {
    padding: 20px;
    margin: 0 auto 20px;
    height: auto;
    width:auto;
    border-radius:0;
    }
    #dialog-cagnotte li:first-child {
    margin-left:0;
    }
    #dialog-cagnotte .btn-green{
        position:relative;
        width:auto;
        margin-top: 30px;
        bottom:0;
    }
    .link-share input{
        width:100%;
        border-radius:0;
    }
    .link-share .btn-green {
    width: auto;
    right: 0;
    position: relative;
    bottom: 0;
    margin-top: 20px;
    }
    #dialog-share ul{
        display:inherit;
    }
    #dialog-share li{
        border-radius:0;
        width:auto;
        height:auto;
        margin:0 0 20px 0;
    }
    .share-email .btn-green {
    width: auto;
    bottom: 0;
    position: relative;
    }
    .link-share{
        margin-bottom:20px;
    }
    #dialog-paiement p{
        display:none;
    }
    #dialog-paiement .montant-total{
        position:relative;
        text-align:center;
        margin-top:0;
    }
    #dialog-paiement .name-paiement{
        width:auto;
        padding:0 10px;
        font-size:16px;
    }
    #dialog-paiement .montant-paiement{
        text-align:left;
        font-size:16px;
    }
    #dialog-paiement .date-paiement {
        font-size:12px;
    }
    .montant-paiement span{
        font-size:12px;
    }
    #dialog-infos p{
        margin:0 20px 20px;
        text-align:center;
    }
    .input-infos p{
        text-align:left!important;
    }
    #dialog-perso p{
        text-align:center;
        margin:0 20px 20px;
    }
    .theme-perso ul{
        display:inherit;
    }
    .theme-perso li{
        width:auto;
        margin:0 0 20px;
    }
    .color-perso ul {
    margin: 0 20px;
    }
    .color-perso li {
    width: 27px;
    height: 27px;
    margin-left:5px;
    }
    #dialog-delete{
        padding:0 20px!important;
    }
    #dialog-delete .btn-grey{
        display:none;
    }
    #dialog-delete .btn-green{
        width:auto;
    }
    #dialog-delete .center-action{
        display:inherit;
        width:auto;
    }
    .btn-login-mobil{
        display:block;
    }
    .btn-login-mobil img{
    filter: brightness(0) invert(100%);
    position: absolute;
    right: 10px;
    top: 30px;
    height: 20px;
    }
    
}


